@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* BG */
*{
  font-family: 'Inter', sans-serif;
}
.bg-glassmorphic{
  
  /* font-family: 'Andika', sans-serif; */
font-family: 'Inter', sans-serif;
/* font-family: 'Roboto', sans-serif; */

 
  background-color: rgb(17, 24, 39);
  background-image: radial-gradient(at 50% 0%, rgb(15, 23, 42) 0, transparent 100%), radial-gradient(at 27% 55%, rgb(30, 58, 138) 0, transparent 37%), radial-gradient(at 21% 57%, rgb(30, 58, 138) 0, transparent 42%), radial-gradient(at 81% 52%, rgb(220, 38, 38) 0, transparent 50%);

}

.brand-logo{
  /* font-family: 'Andika', sans-serif; */
}